@font-face{
	font-family: "brFont";
    src: url('../font/Heart Breaking Bad.otf');
}
@font-face{
	font-family: "helv";
	src: url('../font/HelveticaNeue.ttf');
}

body{
	width:100%;
	background-image:url("../res/background.jpg");
	background-color:black;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: cover; 
	/*height:2000px;*/
	margin:0;
}
a{
	color: white;
	font-size:2em;
	text-decoration: none;
}
p{
	color: white;
	font-family:"brFont";
	font-size:2em;
}
h2{
	text-align:center;
	color: white;
	font-family:"brFont";
	font-size:3em;
}
h1{

	color: white;
	font-family:"brFont";
	font-size:2em;
}

#presentation{
	color: white;
	font-family:"helv";
	font-size:20px;
	font-style:underline;
	text-align:justify;
	text-indent: 50px;
	padding-left:50px;
	padding-right:60px;
}

/*
=====================
=				   	=
=		header		=
=				   	=
=====================
*/

#header{
	width: 100%;
	/* background-color:rgba(200,200,51,0.5);
	margin-left:auto;
	margin-right:auto; */
}

#banniere{
	width:100%;
	background-color:rgba(200,200,51,0.5);
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
}

#banniere img{
	width:100%;
	margin-left:0%;
	margin-right: auto;
	margin-bottom:-0.25%;
	padding-left:0%;
}
#navigation{
	background-color: rgb(75,75,75);
	margin-top:0;
	padding-top:0.5%;
	padding-bottom:0.5%;
}
#perso{
	color: white;
	font-family:"helv";
	margin-left:3%;
	margin-right:0%;
	padding-right:0%;
}
#bouton{
	margin-left:3%;
	font-family:"helv";
}
#mail{
	color: white;
	font-family:"helv";
}
#formulaire{
	color: black;
	font-family:"brFont";
	font-size:20px;
	padding-left:0%;
	margin-left:0%;
=======
}
#formulaire{
	color: black;
	font-family:"brFont";
	font-size:1em;

	
}
#formulaire table{
	color: white;
	font-family:"helv";
	margin-left:auto;
	margin-right:auto;
}
#obj{
	color: white;
	font-family:"helv";
	margin-left:3%;
	padding-left:0%;
	margin-top:0%;
}

#menu{
	font-weight : bold;
}
#menu a{
	color:white;
	font-size:2em;
	text-decoration:none;
	background-color: rgb(75,75,75);
	padding:5px;
	font-family:"brFont";
}

#menu li{
	display: inline;
	
	margin-right: 15%;
	height:100px;
}

#menu li:last-child{
	margin-right: 0%;
}
#encheremain table{
	width:100%;
	margin-left:5%;
}
#encheremain td{
	width:50%;

}

#infos{
	color: white;
	font-family:"helv";
	font-size:20px;
	text-align:justify;
	padding-left:40px;
	padding-right:40px;
}

/*
=====================
=				  	=
=		index		=
=				   	=
=====================
*/

/* #encheremain{
	width:100%;
}
#encheremain ul li{
	display: inline;
} */

#encheremain ul {
	margin: 0;
	padding: 0.5em;
}
#encheremain li{
	list-style: none;
	margin: 0;
	/*padding: 0;*/
}